<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<body>
<f:section name="main">
	<div class="row-fluid">
		<div class="span12" id="copyright">
			<div class="c-right">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<div class="c-left">Copyright &copy; 2013 Amalia All Right Reserved</div>
		</div>
	</div>
</f:section>

</body>
