<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<body>
<f:section name="main">
	<div class="row-fluid">
		<div class="span12 footer-widget" id="footer">
			<div class="row-fluid footer-widget">
				<div class="span3">
					<div class="widget widget-popular">
						<h3>Popular Post</h3>
						<ul>
							<li><a href="#">Cras justo odio,</a> <span><time datetime="2013-05-02">02 May 2013</time></span></li>
							<li><a href="#">Lorem ipsum dolor,</a> <span><time datetime="2013-05-02">02 May 2013</time></span></li>
							<li><a href="#">Vivamus sit amet libero</a> <span><time datetime="2013-05-02">02 May 2013</time></span></li>
							<li><a href="#">Phasellus quis lectus,</a> <span><time datetime="2013-05-02">02 May 2013</time></span></li>
							<li><a href="#">Consectetur adipiscing,</a> <span><time datetime="2013-05-02">02 May 2013</time></span></li>
						</ul>
					</div>
				</div>
				<div class="span3">
					<div class="widget">
						<h3>Useful Link</h3>
						<ul>
							<li><a href="#">Service Updates</a></li>
							<li><a href="#">Help Desk</a></li>
							<li><a href="#">Validate License</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<div class="span3">
					<div class="widget widget-photo">
						<h3>Photo Stream</h3>
						<ul class="photo-wrapper">
							<li class="photo">
								<a href="#"><img src="http://lorempixel.com/180/156/" alt=""></a>
							</li>
							<li class="photo">
								<a href="#"><img src="http://lorempixel.com/180/156/" alt=""></a>
							</li>
							<li class="photo">
								<a href="#"><img src="http://lorempixel.com/180/156/" alt=""></a>
							</li>
							<li class="photo">
								<a href="#"><img src="http://lorempixel.com/180/156/" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="span3">
					<div class="widget">
						<h3>Additional Information</h3>
						<address>
							<strong>Amalia Inc.</strong><br>
							<i class="icon-home"></i> Jalan Imogiri Timur KM 9.5, Jejeran,
							Bantul Yogyakarta, 55791<br>
							<i class="icon-phone"></i> (0274) 441-6001<br>
							<i class="icon-file"></i> (0274) 441-500<br>
							<i class="icon-envelope"></i> mail@domain.com<br>
							<i class="icon-link"></i> http://www.domain.com <br>
						</address>
						<div class="social-icon">
							<ul>
								<li><a href="#" class="social-facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="social-twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="social-gplus"><i class="icon-google-plus"></i></a></li>
								<li><a href="#" class="social-linkedin"><i class="icon-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:section>

</body>
