<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<body>
<f:section name="main">
	<div class="row-fluid">
		<div class="span12" style="margin-bottom:0;">
			<div class="navbar" data-spy="affix">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<v:page.menu as="menu" doktypes="1,3,4,199">
									<f:for each="{menu}" as="menuItem">
										<f:if condition="{menuItem.doktype} == '199'">
											<f:then>
							</ul>
							<ul class="nav pull-right">
											</f:then>
											<f:else>
												<f:if condition="{menuItem.hasSubPages}">
													<f:then>
														<f:render section="menuItemWithSubmenu" arguments="{menuItem:menuItem}"/>
													</f:then>
													<f:else>
														<f:render section="menuItemWithoutSubmenu" arguments="{menuItem:menuItem}"/>
													</f:else>
												</f:if>
											</f:else>
										</f:if>
									</f:for>
								</v:page.menu>
							</ul>
						</div>
						<!-- /.nav-collapse -->
					</div>
				</div>
				<!-- /navbar-inner -->
			</div>
		</div>
	</div>
</f:section>

<f:section name="menuItemWithSubmenu">
	<li class="dropdown{f:if(condition:'{menuItem.active}', then:' active')}">
		<f:link.page pageUid="{menuItem.uid}" class="dropdown-toggle" data="{toggle:'dropdown'}">
			{f:if(condition: menuItem.nav_title, then: menuItem.nav_title, else: menuItem.title)}
			<b class="caret"></b>
		</f:link.page>
		<v:page.menu.directory pages="{menuItem.uid}" as="submenu">
			<ul class="dropdown-menu">
				<f:for each="{submenu}" as="subMenuItem">
					<f:render section="menuItemWithoutSubmenu" arguments="{menuItem:subMenuItem}"/>
				</f:for>
			</ul>
		</v:page.menu.directory>
	</li>
</f:section>

<f:section name="menuItemWithoutSubmenu">
	<li{f:if(condition:'{menuItem.active}', then:' class="active"')}>
		<f:render partial="Utility/MenuItemLink" section="main" arguments="{menuItem:menuItem}"/>
	</li>
</f:section>


</body>
