<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<body>
<f:section name="main">
	<div class="row-fluid">
		<div class="span12" style="margin-bottom:0;">
			<div class="navbar" data-spy="affix">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="index.html">Home Style 1</a></li>
										<li><a href="index2.html">Home Style 2</a></li>
										<li><a href="index3.html">Home Style 3</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="grids.html">Grids</a></li>
										<li><a href="about.html">About Us</a></li>
										<li><a href="service.html">Services</a></li>
										<li><a href="sitemap.html">Sitemap</a></li>
										<li><a href="pricing.html">Pricing Tables</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Shortcodes <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="elements.html">Element</a></li>
										<li><a href="icons.html">Icon</a></li>
										<li><a href="pricing.html">Pricing Tables</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="portfolio.html">2 Columns</a></li>
										<li><a href="portfolio2.html">3 Columns</a></li>
										<li><a href="portfolio3.html">4 Columns</a></li>
										<li><a href="singleportfolio.html">Single Project</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="blogclasic1.html">Clasic Blog 1</a></li>
										<li><a href="blogclasic2.html">Clasic Blog 2</a></li>
										<li><a href="blogclasic3.html">Clasic Blog 3</a></li>
										<li><a href="blog.html">Blog 2 Columns</a></li>
										<li><a href="blog2.html">Blog 3 Columns</a></li>
										<li><a href="blog3.html">Blog 4 Columns</a></li>
										<li><a href="single.html">Single Post 1</a></li>
										<li><a href="single2.html">Single Post 2</a></li>
										<li><a href="single3.html">Single Post 3</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
							<ul class="nav pull-right">
								<li class="active"><a href="#">Active Link</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li>
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <i class="icon-caret-down icon-dropdown"></i></a>
											<ul class="dropdown-menu subdropdown-menu">
												<li><a href="#">Action</a></li>
												<li><a href="#">Something else here</a></li>
												<li><a href="#">Separated link</a></li>
											</ul>
										</li>
										<li><a href="#">Something else here</a></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</li>
							</ul>
						</div><!-- /.nav-collapse -->
					</div>
				</div><!-- /navbar-inner -->
			</div>
		</div>
	</div>
</f:section>

</body>
