<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<body>
<f:section name="main">
	<div class="row-fluid">
		<div class="span12" style="margin-bottom:0;">
			<div class="navbar" data-spy="affix">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<v:page.menu as="menu">
									<f:for each="{menu}" as="menuItem">
										<f:if condition="{menuItem.hasSubPages}">
											<f:then>
												<f:render section="menuItemWithSubmenu" arguments="{menuItem:menuItem}"/>
											</f:then>
											<f:else>
												<f:render section="menuItemWithoutSubmenu" arguments="{menuItem:menuItem}"/>
											</f:else>
										</f:if>
									</f:for>
								</v:page.menu>
							</ul>
							<ul class="nav pull-right">
								<li class="active"><a href="#">Active Link</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li>
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <i class="icon-caret-down icon-dropdown"></i></a>
											<ul class="dropdown-menu subdropdown-menu">
												<li><a href="#">Action</a></li>
												<li><a href="#">Something else here</a></li>
												<li><a href="#">Separated link</a></li>
											</ul>
										</li>
										<li><a href="#">Something else here</a></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- /.nav-collapse -->
					</div>
				</div>
				<!-- /navbar-inner -->
			</div>
		</div>
	</div>
</f:section>

<f:section name="menuItemWithSubmenu">
	<li class="dropdown">
		<f:link.page pageUid="{menuItem.uid}" class="dropdown-toggle" data="{toggle:'dropdown'}">
			{f:if(condition: menuItem.nav_title, then: menuItem.nav_title, else: menuItem.title)}
			<b class="caret"></b>
		</f:link.page>
		<v:page.menu.directory pages="{menuItem.uid}" as="submenu">
			<ul class="dropdown-menu">
				<f:for each="{submenu}" as="subMenuItem">
					<f:render section="menuItemWithoutSubmenu" arguments="{menuItem:subMenuItem}"/>
				</f:for>
			</ul>
		</v:page.menu.directory>
	</li>
</f:section>

<f:section name="menuItemWithoutSubmenu">
	<li>
		<f:render partial="Utility/MenuItemLink" section="main" arguments="{menuItem:menuItem}"/>
	</li>
</f:section>


</body>
