.logo h1 > span {
	border: none;
	padding: 0;
}

.logo h1 a {
	color: #34495E;
	text-decoration: none;
}

.logo h1 a span {
	color: #74A6BD;
}

.logo h1 a small {
	font-size: 13px;
	font-weight: 400;
	padding: 0 0 0 10px;
	margin-top: -10px;
	color: #aaaaaa;
	letter-spacing: 0px;
}
