<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<body>
<f:section name="main">
	<nav class="top-bar">
		<ul>
			<f:if condition="{settings.metaNavigationPid}">
				<f:then>
					<v:page.menu.directory tagName="" pages="{settings.metaNavigationPid}" as="menu">
						<f:for each="{menu}" as="menuItem">
							<li{f:if(condition:'{menuItem.active}', then:' class="active"')}>
							<f:render partial="Utility/MenuItemLink" section="main" arguments="{menuItem:menuItem}"/>
							</li>
						</f:for>
					</v:page.menu.directory>
				</f:then>
				<f:else>
					<li><a href="index.html">Home</a></li>
					<li><a href="sitemap.html">Sitemap</a></li>
				</f:else>
			</f:if>
			<f:if condition="{settings.phoneNumber}">
				<li>
					<f:translate key="page.topbar.navigation.telephone"/>
					<i class="icon-phone"></i>
					{settings.phoneNumber}
				</li>
			</f:if>
		</ul>
	</nav>
</f:section>

</body>
