body{
	margin: 0;
	padding: 40px 0;
	font-size: 13px;
	font-family: sans-serif;
	background: url(bg.png) repeat center top;
}

h1{
	font-size: 32px;
	line-height: 36px;
	font-weight: 700;
	color: #34495E;
	text-align: center;
}

h1 span{
	color: #1ABC9C;
}

img.screenshot{
	display:block;
	margin: 0 auto 20px;
}

ul.list{
	list-style-type: none;
	margin: 0 auto;
	display: table;
	position:relative;
	left: -20px;
}

ul.list > li{
	float: left;
	margin:5px;
}