<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
	<flux:form id="teaser">
		<flux:field.inline.fal name="image" maxItems="1"/>
		<flux:field.input name="morebutton" placeholder="{f:translate(key:'frontend.teaser.more')}"/>
		<flux:field.text name="teasertext" enableRichText="true"/>
	</flux:form>
</f:section>

<f:section name="Preview">
	<f:translate key="flux.teaser"/>
</f:section>

<f:section name="Main">
	<v:resource.record.fal table="tt_content" field="image" as="images">
		<f:if condition="{record.tx_flux_parent}">
			<f:comment>Flux Top Slider</f:comment>
			<f:render section="fluxTopSlider" arguments="{_all}"/>
		</f:if>
	</v:resource.record.fal>
</f:section>

<f:section name="fluxTopSlider">
	<f:if condition="{images.0}">
		<div class="swiper-slide" style="background-image: url('{f:uri.image(src:'{images.0.id}')}');">
			<f:render partial="Utility/ResponsiveImage" arguments="{image:images.0}"/>
			<f:if condition="{record.header}">
				<div class="swiper-text-wrapper">
					<h2>{record.header}</h2>
					<p>{teasertext}</p>
					<f:if condition="{images.0.link}">
						<f:link.page pageUid="{images.0.link}" class="btn">{morebutton -> v:or(alternative:'LLL:frontend.teaser.more')}</f:link.page>
					</f:if>
				</div>
			</f:if>
		</div>
	</f:if>
</f:section>

</html>
